p { 
    color: #ff6666;                     /*文字色*/
    background: transparent;            /*背景を透明に変更*/
    border-left: solid 5px #7db4e6;     /*左に色指定で枠線追加*/
    padding: 3px 6px;                   /*上下左右の余白*/
}